body{
    background: #f5f5f5;
    min-width: 300px;
}
.jd_topBar{
    position: static;
}
/*安全提示*/
.jd_safeTip{
    height: 34px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    background: #fff;
}
.jd_safeTip > p{
    display: inline-block;
    line-height: 34px;
    font-size: 12px;
    color: #666;
    position: relative;
    padding-left: 25px;
}
.jd_safeTip > p::before{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background: url("../images/safe_icon.png") no-repeat;
    background-size: 18px 18px;
    top: 7px;
    left: 0;
}
/*自定义复选框*/
.jd_check_box{
    width: 40px;
    height: 34px;
    background: url("../images/shop-icon.png") no-repeat;
    background-size: 50px 100px;
    padding:7px 10px;
    background-clip: content-box;
    background-origin: content-box;
    display: block;
}
.jd_check_box[checked]{
    background-position: -25px 0;
}

/*店铺*/
.jd_shop{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    background: #fff;
}
/*店铺标题*/
.jd_shop_tit{
    height: 34px;
    line-height: 34px;
    position: relative;
}
.jd_shop_tit > .jd_shop_tit_check{
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.jd_shop_tit > .jd_shop_tit_con{
    padding-left: 40px;
    width: 100%;
}
.jd_shop_tit > .jd_shop_tit_con >.f_left > img{
    width: 15px;
    height: 13px;
    float: left;
    margin-top: 10px;
}
.jd_shop_tit > .jd_shop_tit_con > .f_left >span{
    float: left;
    margin-left: 10px;
    font-size: 15px;
}
.jd_shop_tit > .jd_shop_tit_con > .f_right{
    color: #d8505c;
    font-size: 12px;
    margin-right: 10px;
}
/*商品盒子*/
.jd_product{
    position: relative;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.jd_product > .jd_product_check{
    width: 40px;
    position: absolute;
}
.jd_product > .jd_product_con{
    width: 100%;
    padding-left: 40px;
}
.jd_product > .jd_product_con > .product_img{
    height: 80px;
    width: 80px;
    float: left;
}
.jd_product > .jd_product_con > .product_img > img{
    width: 100%;
    height: 100%;
    display: block;
}

/*商品信息模块*/
.product_info{
    padding:0 10px;
    overflow: hidden;
}

.product_info > .product_name{
    height: 30px;
    width: 100%;
    display: block;
    overflow: hidden;
    line-height: 15px;
}

.product_info > .product_price{
    color: #d8505c;
    padding-top: 5px;
}

/*操作盒子*/
.option_box{

}
.option_box > span{
    border: 1px solid #ccc;
    width: 32px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
}
.option_box > span:first-of-type{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.option_box > span:last-of-type{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.option_box > input{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 32px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
}
/*垃圾箱盒子*/
.delete_box{

}
.delete_box span:first-child{
    height: 5px;
    width: 20px;
    display: block;
    background: url("../images/delete_up.png") no-repeat;
    background-size: 20px 5px;
    margin-left: -1px;
}
.delete_box span:last-child{
    height: 18px;
    width: 18px;
    display: block;
    background: url("../images/delete_down.png") no-repeat;
    background-size: 18px 18px;
    margin-top: -2px;
}

/*弹出框*/
.jd_win{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: rgba(0,0,0,0.6);
    display: none;
}
.jd_win > .jd_win_box{
    width: 80%;
    margin: 0 auto;
    min-height: 100px;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-top: 150px;
}
.jd_win > .jd_win_box > .title{
    text-align: center;
    font-size: 18px;
    line-height: 75px;
    height: 75px;
    border-bottom: 1px solid #ccc;
}

.jd_win > .jd_win_box > .button{
    width: 100%;
    padding-top: 10px;
}
.jd_win > .jd_win_box > .button > a{
    width: 45%;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    text-align: center;
    float: left;
}
.jd_win > .jd_win_box > .button > .cancel{
    margin-right: 10%;
    border: 1px solid #ccc;
}
.jd_win > .jd_win_box > .button > .submit{
    background: #d8505c;
    color: #fff;
}
.jd_win > .jd_win_box.bounceInDown{
    animation: bounceInDown 1s;
}
/*动画*/
@keyframes bounceInDown {
    0%{
        transform: translateY(-3000px);
        -webkit-transform: translateY(-3000px);
        opacity: 0;
    }
    60%{
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        opacity: 1;
    }
    75%{
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
    }
    90%{
        transform: translateY(7px);
        -webkit-transform: translateY(7px);
    }
    100%{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}
@-webkit-keyframes bounceInDown{
    0%{
        transform: translateY(-3000px);
        -webkit-transform: translateY(-3000px);
        opacity: 0;
    }
    60%{
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        opacity: 1;
    }
    75%{
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
    }
    90%{
        transform: translateY(7px);
        -webkit-transform: translateY(7px);
    }
    100%{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}