body{
    background: #f5f5f5;
}
.jd_layout{
    width: 100%;
    max-width: 640px;  /*在行业当中的移动端的设计图一般使用的是640px*/
    min-width: 300px;  /*在移动设备当中现在最小的尺寸320px*/
    position: relative;
    margin:  0  auto;
}

/*头部css*/
.jd_header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/*头部的主体内容*/
.jd_header > .jd_header_box{
    width: 100%;
    margin: 0 auto;
    max-width: 640px;  /*在行业当中的移动端的设计图一般使用的是640px*/
    min-width: 300px;  /*在移动设备当中现在最小的尺寸320px*/
    position: relative;
    height: 40px;
    background: rgba(201,21,35,0);
}

.jd_header > .jd_header_box > .icon_logo{
    width: 60px;
    height: 36px;
    background-position: 0 -103px;
    position: absolute;
    top: 4px;
    left: 10px;
}
.jd_header > .jd_header_box > .login{
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.jd_header > .jd_header_box > form{
    width: 100%;
    padding: 0 50px 0 75px;
    position: relative;
}
.jd_header > .jd_header_box > form > input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 30px;
}
.jd_header > .jd_header_box > form > .icon_search{
    width: 20px;
    height: 20px;
    background-position: -60px -109px;
    position: absolute;
    top: 10px;
    left: 80px;
}


/*轮播图*/
.jd_banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_banner > ul:first-child{
    width: 1000%;
    -webkit-transform:translateX(-10%);
    transform: translateX(-10%);
}
.jd_banner > ul:first-child > li{
    width: 10%;
    float: left;
}

.jd_banner > ul:first-child > li > a{
    display: block;
    width: 100%;
    /*由于文字有默认的基线*/
    font-size: 0;
}
.jd_banner > ul:first-child > li > a > img{
    width: 100%;
}
.jd_banner > ul:last-child{
    position: absolute;
    left: 50%;
    bottom: 6px;
    margin-left: -59px;
}

.jd_banner > ul:last-child > li{
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 3px;
    float: left;
    margin-left: 10px;
}
.jd_banner > ul:last-child > li.now{
    background: #fff;
}
.jd_banner > ul:last-child > li:first-child{
    margin-left: 0;
}
/*导航栏*/
.jd_nav{
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}
.jd_nav  li{
    width: 25%;
    float: left;
}
.jd_nav  li > a{
    display: block;
    width: 100%;
}
.jd_nav  li > a > img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
.jd_nav  li > a > p{
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    color: #666;
}

/*主体*/
.jd_main{
    padding: 0 5px;
}
/*商品盒子*/
.jd_product{
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 1px 1px #e0e0e0;
}
.jd_product > .jd_product_tit{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e0e0e0;
}
.jd_product > .jd_product_tit > h3{
    font-weight: normal;
    color: #666;
    position: relative;
    margin-left: 10px;
    padding-left: 15px;
}
.jd_product > .jd_product_tit > h3::before{
    content: "";
    width: 3px;
    height: 12px;
    background: #d8505c;
    position: absolute;
    top: 10px;
    left: 5px;
}
.jd_product > .jd_product_tit.no_border{
    border-bottom: none;
}
.jd_product > .jd_product_con{
}

/*秒杀区块*/
.sk_icon{
    background: url("../images/seckill-icon.png") no-repeat;
    background-size: 16px 20px;
    width: 16px;
    height: 20px;
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}
.sk_name{
    font-size: 15px;
    color: #d8505c;
    margin-left: 10px;
    float: left;
}
.sk_time{
    float: left;
    margin-left: 10px;
}
.sk_time span{
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    color: #fff;
    line-height: 15px;
    margin-left: 3px;
    text-align: center;
    margin-top: 8px;
}
.sk_time span:nth-child(3n){
    background: #fff;
    color: #333;
    width: 5px;
}

.sk_more{
    margin-right: 10px;
}
/*秒杀商品*/
.sk_product{
    width: 100%;
    padding: 10px 0;
}
.sk_product > li{
    width: 33.33%;
    float: left;
}

.sk_product > li > a{
    width: 100%;
    display: block;
    border-right: 1px solid #e0e0e0;
}
.sk_product > li:last-child > a{
    border-right: none;
}


.sk_product > li > a > img{
    width: 64%;
    display: block;
    margin: 0 auto;
}
.sk_product > li > p{
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}



/*
 nth-child 取得当前盒子下的子元素
 nth-of-type 是得当前盒子下的子元素但是有类型
*/
.sk_product > li > p:nth-of-type(1){
    color: #d8505c;
}
.sk_product > li > p:nth-of-type(2){
    /*删除线*/
    text-decoration:line-through;
    color: #666;
}


/*宽度*/
.w_50{
    width: 50%;
    display: block;
}
.w_50 img{
    display: block;
    width: 100%;
}
.b_right{
    border-right: 1px solid #e0e0e0;
}
.b_left{
    border-left: 1px solid #e0e0e0;
}
.b_bottom{
    border-bottom: 1px solid #e0e0e0;
}